:root {
  --data-background: rgba(204, 204, 204, 0.5);
}
body {
  background-image: url(wallpaper/wallp1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;  

  padding: 0;
  margin: 0;

}
* {
  transition: 0.4s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Nunito', sans-serif;*/
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 2px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
.coord {
  width: 600px;
  border: 2px solid #666666;
  font-size: 24pt;
  padding: 8px;
  background: var(--data-background);
  border-radius: 4px 4px 4px 4px;
}

#check-wiki {
  border: 2px solid #333333;
  padding: 6px;
  width: 620px;
  font-size: 20pt;
  background: rgba(51, 51, 51, 1);
  color: white;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
}
#check-wiki:hover {
  background: rgba(51, 51, 51, 0.2);
  color: black;
}

.glav-block {
  width: 97%;
  border: 2px solid transparent;
  padding: 0px;
  position: relative;
  top: 10px;
  left: 10px;
}

.app-top-bar {
  border: 3px solid #333333;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.site-name {
  flex-grow: 3;
  font-size: 34pt;
  user-select: none;
  color: black;
}
#city-country-name {
  font-size: 32pt;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  border: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
#search-city-input {
  flex-grow: 1;
  border: 2px solid #333333;
  padding: 6px;
  width: 260px;
  font-size: 20pt;
  background: rgba(200, 200, 200, 0.2);
  color: black;
  letter-spacing: 2px;
  border-radius: 4px 0px 0px 4px;
}
#search-city-input:focus {
  background: rgba(200, 200, 200, 0);
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 0px 0px 0px 0px;
}
#search-city-input:focus ~ #button-search {border-radius: 4px 4px 4px 0px;}
#button-search {
  flex-grow: 1;
  font-size: 18pt;
  background: rgba(51, 51, 51, 1);
  color: white;
  border: 2px solid #333333;
  border-radius: 0px 4px 4px 0px;
  padding: 6px;
  /*width: 110px;*/
  margin-left: -2px;
  letter-spacing: 2px;
}
#button-search:hover {
  background: rgba(51, 51, 51, 0.2);
  color: black;
}


.temp-data-block {
  display: flex;
  justify-content: flex-start; 
}
.temp-block-one {
  border: 2px solid #666666;
  padding: 8px;
  background: var(--data-background);
  border-radius: 4px 0px 0px 0px;
  flex-grow: 1;
}
.temp-block-one div:nth-of-type(1) {
  font-size: 26pt;
  letter-spacing: 1px;
  text-align: center;
}
.temp-block-one div:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
}
#weather-icon {
  border: 2px solid transparent;
  background: transparent;
  width: 100px;
}
#temp-data {
  font-size: 42pt;
  border: 2px solid transparent;
  width: 200px;
  padding-top: 5px;
}

.temp-block-two {
  border: 2px solid #666666;
  padding: 8px;
  background: var(--data-background);
  border-radius: 0px 0px 0px 0px;
  flex-grow: 2;
  margin-left: -1px;
}
.temp-block-two div:nth-of-type(1) {
  font-size: 26pt;
  letter-spacing: 0px;
  text-align: center;
}
#temp-feel-data {
  font-size: 42pt;
  border: 2px solid transparent;
  text-align: center;
  padding-top: 5px;
}

.temp-block-three {
  border: 2px solid #666666;
  padding: 8px;
  background: var(--data-background);
  border-radius: 0px 4px 0px 0px;
  flex-grow: 1;
  margin-left: -1px;
}
.temp-block-three div:nth-of-type(1) {
  font-size: 26pt;
  letter-spacing: 0px;
  text-align: center;
  letter-spacing: 1px;
}
#vlaga-data {
  font-size: 42pt;
  border: 2px solid transparent;
  text-align: center;
  padding-top: 5px;
}

.other-data-block {
  display: flex;
  justify-content: flex-start; 
}

.other-data-one {
  border: 2px solid #666666;
  padding: 8px;
  background: var(--data-background);
  border-radius: 0px 0px 0px 4px;
  flex-grow: 1;
  margin-top: -1px; 
}
.other-data-one div:nth-of-type(1) {
  font-size: 26pt;
  letter-spacing: 0px;
  text-align: center;
  letter-spacing: 1px;
}
#wind-speed {
  font-size: 42pt;
  border: 2px solid transparent;
  text-align: center;
  padding-top: 5px;
}

.other-data-two {
  border: 2px solid #666666;
  padding: 8px;
  background: var(--data-background);
  border-radius: 0px 0px 0px 0px;
  flex-grow: 1;
  margin-left: -1px;
  margin-top: -1px;
}
.other-data-two div:nth-of-type(1) {
  font-size: 26pt;
  letter-spacing: 0px;
  text-align: center;
  letter-spacing: 1px;
}
#wind-deoganal {
  font-size: 42pt;
  border: 2px solid transparent;
  text-align: center;
  padding-top: 5px;
}

.other-data-three {
  border: 2px solid #666666;
  padding: 8px;
  background: var(--data-background);
  border-radius: 0px 0px 4px 0px;
  flex-grow: 1;
  margin-left: -1px;
  margin-top: -1px;
}
.other-data-three div:nth-of-type(1) {
  font-size: 26pt;
  letter-spacing: 0px;
  text-align: center;
  letter-spacing: 1px;
}
#clouds-data {
  font-size: 42pt;
  border: 2px solid transparent;
  text-align: center;
  padding-top: 5px;
}

